.repeat-note-item{
    position: relative;
    width: 750px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.repeat-note-item .item-top-div{
    position: absolute;
    width: 650px;
    top: 5px;
    left: 0;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.repeat-note-item .item-top-div.show{
    height: 155px !important;
    transition: ease-out all 0.3s;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 20;
}

.repeat-note-item .item-top-div.hide{
    height: 60px !important;
    transition: ease-in all 0.3s;
    z-index: 15;
}

/* 얘가  */
.repeat-note-item .item-top-div .mean-info-div{ 
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-self: start;
    padding: 0 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 16;
}

.repeat-note-item .item-top-div .mean-info-div > div{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sentence-info-div{
    position: absolute;
    width: 100%;
    z-index: 1000 !important;
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}