.dashboard-cards{
    padding: 30px 0;
}

.dashboard-cards .dashboard-cards-info{
    text-align: center;
    margin: 20px 0;
}

.dashboard-cards .dashboard-cards-main{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}