.common-side-section{
    width: 260px;
    margin: 10px;
}

/* 사이드 상단 ======================================= */
/* 설명칸 */
.common-side-section .common-side-top{
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 20px;
    height: 430px;
}

.common-side-section .common-side-top .common-side-info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.common-side-info-div .info-title{
    text-align: center;
}
.common-side-info-div .info-description{
    margin-left: 5px;
}

/* 유저정보 */
.common-side-section .user-info-div{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.common-side-section .user-info-div .user-img{
    height: 120px;
    border-radius: 120px;
    overflow: hidden;
    margin: 20px;
}

.common-side-section .user-info-div .user-nickname-div{
    font-size: 14px;
    text-align: center;
    width: 80%;
    height: 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 사이드 하단 ======================================= */
.common-side-section .common-side-bottom{
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 20px;
    height: 150px;
}

.common-side-section .common-side-bottom .time-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.time-info .time-content{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}