.common-card{
    display: block;
    position: relative;
    background-color: white;
    width: 140px;
    height: 140px;
    margin: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
}

.card-info-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.945);
    display: flex;
    align-items: center;
    justify-content: center;
}

.show {
    opacity: 1;
    transition: ease-in-out all 0.3s;
}

.hide{
    opacity: 0;
    transition: ease-in-out all 0.3s;
}